/* color of the website
Black: black
Grey: #19191E
Orange: #ffaa2a
Orange light: #FFBD59
White: #FFFFFF */

.title {
  height: 100%;
  background-image: url("D:/UNIBO/Informatica Umanistica/ELECTRIC GUITAR HYSTORY/Images/chitarra1.jpeg.jpg") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.titletext {
  font-size: 28pt;
  height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif !important;
}

.nav-link
{
  display:inline-block;
  align-items:center;
  text-decoration:none;
  cursor:pointer !important;
  position:relative;
}

.INTRO {
  background-color: black;
  color: WHITE;
  Text-align: center;
}

header nav ul li:hover {
  border-radius: 9px;
  transition-duration: 0.200s;
  background-color: #ffaa2a !important;
}

h1, h2 {
  text-align: CENTER;
  font-family: 'League Spartan', sans-serif !important;
}
.TITLEINTRO {

}

body{
  background-color: black !important;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: black;
  font-family: 'League Spartan', sans-serif !important;
}

main {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

.STORIA {
  color: white;
  text-align:center;
  background-color: #19191E;
}

p.suggsto{
  color: grey;
}

#fotoparagrafo1cs {
  height: 20%;
  width: 40%;
}

#fotostoriacs {
  height: 20%;
  width: 40%;
  align-content: center !important;
}

footer {
  background-color: black;
}

#fddn {
    float: left;
    height: 20%;
    width: 25%;
    margin: 5%;
    margin-left: 13%;
}

.year{
  text-align: center !important;
  }

h3 {
  color: #ffaa2a !important;
}

p.tfddn {
  margin: 35%;
  margin-left: 33%;
  margin-right: 15%;
    float: left;
    overflow: hidden;
}
